* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #edede9;
}

header {
    background-color: #6d6875;
}

/* ========== NAVIGATION BAR ========== */
/* Logo and Nav Items */
div.container {
    display: flex;
    align-items: center;
}

.navContainer {
    display: flex; /* To make it aligned with the navbar list items */
    margin: 5px;
    padding: 10px 20px;
    justify-content: space-around;
    align-items: center;    /* This made the Sign in button to center horizontally */
}

.navContainer h1 {  /* For the font properties of the text: Goodreads */
    font-size: 32px;
    margin: 0px 10px;
    font-weight: 600;
}

.navContainer a {   /* For the link properties of the text: Goodreads*/
    text-decoration: none;
    color: #edede9;
}

.navContainer span {
    color: #e5989b;
}

.navContainer span:hover {
    color: #b5838d;
    transition: 0.5s;
}

.navContainer a:hover {
    color: #b5838d;
    transition: 0.5s;
}
.navContainer li:hover {
    cursor: pointer;
    color: #b5838d;
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-position: under;
}

.navBar { 
    padding: 5px;
    margin: 0px 20px 0px 130px;
}

.navBar ul {    /* For the position/spacing between the navbar list items as a whole - inline or block */
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navBar-listItem {    /* For the font properties of nav list items */
    padding: 10px 20px;
    color: #edede9;
}

/* Contact Me Button */ 
.contact {
    margin: 10px;
}

span.contactMe {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 400;
    color: #edede9;
    background-color: hsla(0,0%,100%,0.2);
    padding: 6px 25px 6px 25px;
    border-radius: 16px;
    position: relative;
    left: 150px;
}

span.contactMe:hover { 
    cursor: pointer;
    color: #6d6875;
    border: 1px solid hsla(0,0%,100%,0.2);
    background-color: #edede9;
    font-weight: 600;
    transition: color 0.5s ease-in;
    transition: background-color 0.5s ease-in 0.5s;
    transition: font-weight 0.1s ease-out;
    transform: translateY(-1.5px);
}

/* Search Bar */
.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    outline: none;
    /* margin: 10px 10px 10px 50px; */
    padding: 5px;
    position: relative;
    left: 20px;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    outline: none;
    padding: 2px 8px;
    border-radius: 15px;
    background-color: #edede9;
    border: 1px solid #6d6875;
    color: #6d6875;
    font-weight: 400;
    width: 100%;
}

/* ========== Landing Page ========== */
.landingPage {
    color: #6d6875;
}

.shadowName {
    color: #b5838d;
    font-size: 100px;
}





















































/*========================= VARIABLE CSS =========================*/
:root {
    --header-height: 3rem;

    /*================ Colors ================*/
    /*Change favorite color */
    --hue-color: ;

    /* HEX color mode */
    --first-color: hsl(289, 13%, 42%);
    --first-color-second: ;
    --first-color-alt: ;
    --first-color-lighter: ;
    --title-color: ;
    --text-color: ;
    --text-color-light: ;
    --input-color: ;
    --body-color: ;
    --container-color: #FFF;

    /*================ Font and Typography ================*/
    --body-font: 'Poppins', sans-serif; ;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*================ Font Weight ================*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*================ Margenes Bottom ================*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --md-0-25: .25rem;
    --md-0-5: .5rem;
    --md-0-75: .75rem;
    --md-1: 1rem;
    --md-1-5: 1.5rem;
    --md-2: 2rem;
    --md-2-5: 2.5rem;
    --md-3: 3rem;

    /*================ z index ================*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*================ Font size for large devices ================*/
@media screen and (min-width: 968px) {
    :roont {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*================ Variables Dark Theme ================*/


/*================ Button Dark/Light ================*/


/*================ BASE ================*/


/*================ REUSABLE CSS CLASSES ================*/


/*================ LAYOUT ================*/


/*================ NAV ================*/


/* show menu */
/* Active link */
